@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Ims-otpforget-container {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 55px 80px;
  overflow: hidden;
  background: linear-gradient(270deg, #FFFFFF 35%, #566B94 93%);
}

.Ims-otpforget-innercontainer{
  display: flex;
  gap: 20px;
}

.Ims-otpforget-leftcontent{
    width: 810px;
    height: auto;
}

.Ims-otpforget-mainhead {
  display: flex;
  align-items: center;
  gap: 14px;
}

.Ims-otpforget-logo {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #176789;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Ims-otpforget-logo img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.Ims-otpforget-mainheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.Ims-otpforget-mainheader h3 {
  margin: 0;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.5px;
}

.Ims-otpforget-mainheader p {
  margin: 0;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.3px;
}

.Ims-otpforget-middlecontent {
  display: grid;
  gap: 10px;
}

.Ims-otpforget-maincontent h2 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.8px;
  vertical-align: middle;
  padding-top: 25px;
  margin: 0;
}

.Ims-otpforget-maincontent p {
  width: auto;
  height: 44px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-top: 12px;
}

.Ims-otpforget-image {
  width: auto;
  height: 380px;
  padding-left: 110px;
  mix-blend-mode: darken;
  margin: 0px 300px 0px 50px;
}

.Ims-otpforget-bottomcard-container {
  margin-left: 80px;
}

.Ims-otpforget-bottomcontent {
  display: grid;
  margin-top: 0;
  gap: 2px;
}

.Ims-otpforget-bottomcard {
  border: 1px solid #ffffffcc;
  width: 550px;
  height: 60px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  backdrop-filter: blur(12px);
  border-radius: 16px;
  background-color: #ffffffbf;
  display: flex;
  padding-left: 17px;
  gap: 10px;
  align-items: center;
}

.Ims-otpforget-bottomrightcard{
  border: 1px solid #132A56;
  width: 38px;
  height: 38px;
  border-radius: 12px;
  background-color: #132A56;
  box-shadow: 0px 2px 4px 0px #0000000D inset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Ims-otpforget-whiteshield {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  color:#FFFFFF;
}

.Ims-otpforget-bottomcontent strong {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 11px;
  line-height: 15.56px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #132A56;
}

.Ims-otpforget-bottomcontent p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #132a56;
}

.Ims-otpforget-bottomcontent p span {
  color: #566b94;
}

/* Right section  */

.ims-otpforget-right {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.ims-otpforget-form-wrapper {
  width: 100%;
  max-width: 600px;
}

.ims-otpforget-form-heading {
  margin-bottom: 31px;
}


.ims-otpforget-form-heading h2 {
  margin: 0;
  color: #132A56;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.32px;
  font-style: bold;
}


.ims-otpforget-form-heading p {
  width: 525px;
  margin-top: 5px;
  color: #111112;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.ims-otpforget-inputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}


.ims-otpforget-inputs input {
  width: 70px;
  height: 70px;
  padding: 12px;
  border: 2px solid #132A5680;
  border-radius: 12px;
  background: #ffffff;
  color: #176789;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.ims-otpforget-inputs input:focus {
  border-color: #176789;
}

.ims-otpforget-verifybtn {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 12px;
  background: #132A56;
  box-shadow: 0px 1px 2px 0px #0000000D;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.ims-otpforget-verifybtn:hover {
  background: #052e56;
}

.ims-otpforget-resend {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
  color: #111112;
  font-size: 14px;
  line-height: 20px;
}


.ims-otpforget-resend button {
  padding: 0;
  margin: 0 2px;
  border: none;
  background: transparent;
  color: #777587;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  cursor: pointer;
}

.ims-otpforget-resend span {
  color: #777587;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.ims-otpforget-resend button:hover {
  color:  #052e56;
}

.ims-otpforget-divider {
  width: 100%;
  height: 1px;
  margin-top: 38px;
  background: #132A564D;
}

.ims-otpforget-securityinfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 1.2px;
  vertical-align: middle;
  text-transform: uppercase;
  color:#111112;
}

.ims-otpforget-securityinfo span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ims-otpforget-securityicon {
    width: 10.67px;
    height: 14px;
    color: #111112;
}



