
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Ims-Resetsucess-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 55px 80px;
  overflow: hidden;
  background: linear-gradient(270deg, #FFFFFF 35%, #566B94 93%);
}

.Ims-Resetsucess-innercontainer {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}

/* Left Content */

.Ims-Resetsucess-leftcontent {
  width: 810px;
  height: auto;
}

.Ims-Resetsucess-leftheader {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.Ims-Resetsucess-logo-container {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background: #176789;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Ims-Resetsucess-main-head {
  display: flex;
  gap: 14px;
}


.Ims-Resetsucess-logo-container img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.Ims-Resetsucess-main-header h3 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 590;
  font-style: Bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.6px;
  vertical-align: middle;
}

.Ims-Resetsucess-main-header p {
  width: 197px;
  height: 16px;
  color: #ffffff;
  font-weight: 390;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  vertical-align: middle;
}

.Ims-Resetsucess-middle-content {
  display: grid;
  gap: 35px;
}
.Ims-Resetsucess-main-content h2 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 37px;
  line-height: 40px;
  letter-spacing: -0.8px;
  vertical-align: middle;
  margin-top: 25px;
}

.Ims-Resetsucess-main-content p {
  width: auto;
  height: 44px;
  color: #ffffff;
  font-weight: 400;
  font-style: SemiBold;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-top: 12px;
}

.Ims-Resetsucess-image-content {
  display: grid;
  justify-content: center;
}
.Ims-Resetsucess-bottomcard-container {
  margin-left: 60px;
}
.Ims-Resetsucess-vector-stock {
  width: auto;
  height: 350px;
  padding-left: 110px;
  margin: 0px 300px 20px 50px;
}

.Ims-Resetsucess-bottomcard-container {
  margin-left: 80px;
}

.Ims-Resetsucess-bottomcontent {
  display: grid;
  margin-top: 0;
  gap: 2px;
}

.Ims-Resetsucess-bottomcard {
  border: 1px solid #ffffffcc;
  width: 600px;
  height: 60px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  backdrop-filter: blur(12px);
  border-radius: 16px;
  background-color: #ffffffbf;
  display: flex;
  padding-left: 17px;
  gap: 10px;
  align-items: center;
}

.Ims-Resetsucess-bottomrightcard{
  border: 1px solid #132A56;
  width: 38px;
  height: 38px;
  border-radius: 12px;
  background-color: #132A56;
  box-shadow: 0px 2px 4px 0px #0000000D inset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Ims-Resetsucess-whiteshield {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  color:#FFFFFF;
}

.Ims-Resetsucess-bottomcontent strong {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 11px;
  line-height: 15.56px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #132A56;
}

.Ims-Resetsucess-bottomcontent p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #132a56;
}

.Ims-Resetsucess-bottomcontent p span {
  color: #566b94;
}
/* Right Content */

.Ims-Resetsuccess-right {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 100px;
  padding-left: 50px;
}

.Ims-Resetsuccess-form-wrapper {
  width: 100%;
  max-width: 600px;
}

.Ims-Resetsuccess-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #109D58;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 54px;
  box-shadow:
    0px 4px 6px -4px #1090584D,
    0px 10px 15px -3px #1090584D;
}

.Ims-Resetsuccess-Rightmark {
  width: 32px;
  height: 25px;
}

.Ims-Resetsuccess-securitystatus {
  border: 1px solid #ECFDF5;
  width: 100%;
  max-width: 303px;
  height: 25px;
  border-radius: 6px;
  background-color: #ECFDF5;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 5px;
  margin-bottom: 17px;
  color: #109D58;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0.55px;
  text-align: left;
  text-transform: uppercase;
}

.Ims-Resetsuccess-securitylock {
  width: 10px;
  height: 11px;
}

.Ims-Resetsuccess-title {
  width: 100%;
  color: #132A56;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.75px;
  text-align: left;
  margin: 0 0 13px 0;
}

.Ims-Resetsuccess-description {
  width: 100%;
  color: #333334;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.75px;
  text-align: left;
  margin: 0 0 41px 0;
  display: flex;
  text-align: center;
}

.Ims-Resetsuccess-backloginbutton {
  width: 100%;
  min-width: 500px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: #132A56;
  box-shadow: 0px 1px 2px 0px #0000000D;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-align: center;
  cursor: pointer;
}

.Ims-Resetsuccess-backloginbutton:hover {
  background: #132A56;
}
